<head>
<link rel="stylesheet" type="text/css" href="../../vendor/style.css">
</head>


<div class="canvas">

<br>
<br>
<br>
<br>
<br>
<br>
<br>

  
 <div>
    <span>Timestamp:</span> {{model.timestamp}}<br>
    {{#each model.systems as |system|}}
	  <span>Systemnamen: </span> {{system.name}}<br>
    {{/each}}
	  <span>Errors: </span> {{model.exceptions}}<br>
  </div>

</div>
<div class="buttonMenu">
	<div class="buttonContainer">
  		<button {{action 'newNode' model}}>New Node</button>
  		<button {{action 'newNodegroup'}}>New Nodegroup</button>
  		<button {{action 'addCommunication'}}>Communication</button>
  	</div>
</div>




