<head>
<link rel="stylesheet" type="text/css" href="../../vendor/style.css">
</head>


<div class="canvas">
<!-- {{modeleditor-visualization}}  -->

 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <div>
    <span>Timestamp:</span> {{model.timestamp}}<br>
    {{#each model.systems as |system|}}
    <span>Systemname: </span> {{system.name}}<br>
      <ul>
      {{#each system.nodegroups as |nodegroup|}}
        <li><span>Nodegroup: </span> {{nodegroup.name}}<br></li>
          <ul>
          {{#each nodegroup.nodes as |node|}}
          <li><span>Node: </span> {{node.name}}<br></li>
            <ul>
              {{#each node.applications as |app|}}
              <li><span>Application: </span> {{app.name}}</li>
              {{/each}}
            </ul>
          {{/each}}
          </ul>
        {{/each}}
      </ul>
    {{/each}}
    <span>Errors: </span> {{model.exceptions}}<br>
  </div>

</div>
<div class="buttonMenu">
	<div class="buttonContainer">
      <input id="nSN" value="newSystemName">
      <button id="bNSN" {{action 'newSystem' model}}>New System</button><br>
      <input id="nNgN" value="newNodegroupName">
      <button id="bNNgN" {{action 'newNodegroup' model}}>New Nodegroup</button><br>
  		<input id="nNN" value="newNodeName">
      <button id="bNNN" {{action 'newNode' model}}>New Node</button><br>
      <input id="nAN" value="newApplicationName">
      <button id="bNAN" {{action 'newApplication' model}}>New Application</button><br>
  	</div>
</div>


<script>
  document.getElementById("nSN").addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode === 13) {
        document.getElementById("bNSN").click();
    }
  });

    document.getElementById("nNgN").addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode === 13) {
        document.getElementById("bNNgN").click();
    }
  });

      document.getElementById("nNN").addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode === 13) {
        document.getElementById("bNNN").click();
    }
  });

  document.getElementById("nAN").addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode === 13) {
        document.getElementById("bNAN").click();
    }
  });
</script>
