<head>
<link rel="stylesheet" type="text/css" href="../../vendor/style.css">
</head>


<div class="canvas">
{{#if showLandscape}}
  {{visualization/page-setup/visualization-navbar
    content=(array 
      (component "visualization/page-setup/navbar/reset-visualization") 
      (component "visualization/page-setup/navbar/file-downloader" 
        urlPath=exportLandscapeUrl fileName=exportLandscapeFileName) 
      (component "visualization/page-setup/navbar/file-uploader" 
        backendURL=uploadLandscapeUrl) 
    )
  }}
  {{visualization/rendering/landscape-rendering latestLandscape=modellRepo.modellLandscape interaction=landscapeInteraction}}
{{else}}
  {{visualization/page-setup/visualization-navbar
    content=(array 
      (component "visualization/page-setup/navbar/reset-visualization") 
      (component "visualization/page-setup/navbar/file-downloader" 
        urlPath=exportLandscapeUrl fileName=exportLandscapeFileName) 
      (component "visualization/page-setup/navbar/application-opener") 
      (component "visualization/page-setup/navbar/application-search")
    )
  }}
  {{visualization/rendering/application-rendering latestApplication=modellRepo.modellApplication interaction=applicationInteraction}}
{{/if}}
</div>
<div class="buttonMenu">
	<div class="buttonContainer" >
    {{#if showLandscape}} 
      <br>
      &emsp;<input id="nSN" type="text" class="form-control" value="newSystemName">
      &emsp;<button id="bNSN" class="btn btn-default" {{action 'newSystem' modellRepo.modellLandscape}}>New System</button><br>
      &emsp;<input id="nNgN" type="text" class="form-control" value="newNodegroupName">
      &emsp;<button id="bNNgN" class="btn btn-default" {{action 'newNodegroup' modellRepo.modellLandscape}}>New Nodegroup</button><br>
      &emsp;<input id="nNN" type="text" class="form-control" value="newNodeName">
      &emsp;<button id="bNNN" class="btn btn-default" {{action 'newNode' modellRepo.modellLandscape}}>New Node</button><br>
      &emsp;<input id="nAN" type="text" class="form-control" value="newApplicationName">
      &emsp;<button id="bNAN" class="btn btn-default" {{action 'newApplication' modellRepo.modellLandscape}}>New Application</button><br>
      <br>
      &emsp;<button id="bD" class="btn btn-danger" {{action 'delete' modellRepo.modellLandscape}}>Delete System</button><br>
      <br>
      &emsp;CommunicationPartner1:<br>
      &emsp;<input id="cPS1" type="text" class="form-control" value="newSystemName">
      &emsp;<input id="cPNG1" type="text" class="form-control" value="newNodegroupName">
      &emsp;<input id="cPN1" type="text" class="form-control" value="newNodeName">
      &emsp;<input id="cPA1" type="text" class="form-control" value="newApplicationName">
      <br>
      &emsp;<button id="bNAN" class="btn btn-warning" {{action 'communicationActivate' modellRepo.modellLandscape}}>Communication ACTIVATE</button>&emsp;<button id="bNAN" class="btn btn-info" {{action 'switchComP'}}>Switch Partner</button><br>
      <br>
      &emsp;CommunicationPartner2:<br>
      &emsp;<input id="cPS2" type="text" class="form-control" value="newSystemName">
      &emsp;<input id="cPNG2" type="text" class="form-control" value="newNodegroupName">
      &emsp;<input id="cPN2" type="text" class="form-control" value="newNodeName">
      &emsp;<input id="cPA2" type="text" class="form-control" value="newApplicationName"><br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    {{else}}
      <br>
      &emsp;Parent Component:<br>
      &emsp;<input id="nPComponentN" type="text" class="form-control" value=""><br>
      <br>
      &emsp;New Component:<br>
      &emsp;<input id="nCComponentN" type="text" class="form-control" value="newComponentName">
      &emsp;<button id="bNComponentN" class="btn btn-default" {{action 'newComponentInput' modellRepo.modellApplication}}>New Component</button><br>
      &emsp;New Class:<br>
      &emsp;<input id="nClazzN" type="text" class="form-control" value="newClassName">
      &emsp;<button id="bNClazzN" class="btn btn-default" {{action 'newClazzInput' modellRepo.modellApplication}}>New Class</button><br>
      <br>
      <br>
      <br>
      &emsp;<button id="bDeleteComponent" class="btn btn-danger" {{action 'deleteComponent' modellRepo.modellApplication}}>Delete Parent Component</button><br>
      <br>
      <br>
      <br>
      &emsp;<button id="bDeleteClazz" class="btn btn-danger" {{action 'deleteClazz' modellRepo.modellApplication}}>Delete Class</button><br>
      <br>
      <br>
      <br>
      &emsp;<button id="landscapeView" class="btn btn-info" {{action 'switchLandscape'}}>Go Back to LandscapeView</button><br>
      <br>
      <br>
      <br>
      &emsp;Advanced Input:<br>
      &emsp;<input id="advanced" type="text" class="form-control" value="only if you are advanced!"><button id="bAdvanced" style="display: none;" {{action 'advanced' modellRepo.modellApplication}}></button>
      <script>
      document.getElementById("nCComponentN").addEventListener("keyup", function(event) {
        event.preventDefault();
        if (event.keyCode === 13) {
          document.getElementById("bNComponentN").click();
        }
      });

      document.getElementById("nClazzN").addEventListener("keyup", function(event) {
      event.preventDefault();
      if (event.keyCode === 13) {
        document.getElementById("bNClazzN").click();
      }
      });

      document.getElementById("advanced").addEventListener("keyup", function(event) {
        event.preventDefault();
        if (event.keyCode === 13) {
          document.getElementById("bAdvanced").click();
        }
      });
      </script>

    {{/if}}
  </div>
</div>


<script>
  document.getElementById("nSN").addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode === 13) {
        document.getElementById("bNSN").click();
    }
  });

    document.getElementById("nNgN").addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode === 13) {
        document.getElementById("bNNgN").click();
    }
  });

      document.getElementById("nNN").addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode === 13) {
        document.getElementById("bNNN").click();
    }
  });

  document.getElementById("nAN").addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode === 13) {
        document.getElementById("bNAN").click();
    }
  });
</script>
