<head>
<link rel="stylesheet" type="text/css" href="../../vendor/style.css">
</head>


<div class="canvas">
{{visualization/rendering/landscape-rendering latestLandscape=modellRepo.modellLandscape}}
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <div>
    <span>Timestamp:</span> {{modellRepo.modellLandscape.timestamp}}<br>
    {{#each modellRepo.modellLandscape.systems as |system|}}
    <span>Systemname: </span> {{system.name}}<br>
      <ul>
      {{#each system.nodegroups as |nodegroup|}}
        <li><span>Nodegroup: </span> {{nodegroup.name}}<br></li>
          <ul>
          {{#each nodegroup.nodes as |node|}}
          <li><span>Node: </span> {{node.name}}<br></li>
            <ul>
              {{#each node.applications as |app|}}
              <li><span>Application: </span> {{app.name}}</li>
              {{/each}}
            </ul>
          {{/each}}
          </ul>
        {{/each}}
      </ul>
    {{/each}}
    <span>Errors: </span> {{model.exceptions}}<br>
  </div>

</div>
<div class="buttonMenu">
	<div class="buttonContainer">
      <input id="nMN" type=number value="42">
      <button id="bNMN" {{action 'newModel' modellRepo.modellLandscape}}>New Model</button><br>
      <input id="nSN" value="newSystemName">
      <button id="bNSN" {{action 'newSystem' modellRepo.modellLandscape}}>New System</button><br>
      <input id="nNgN" value="newNodegroupName">
      <button id="bNNgN" {{action 'newNodegroup' modellRepo.modellLandscape}}>New Nodegroup</button><br>
  		<input id="nNN" value="newNodeName">
      <button id="bNNN" {{action 'newNode' modellRepo.modellLandscape}}>New Node</button><br>
      <input id="nAN" value="newApplicationName">
      <button id="bNAN" {{action 'newApplication' modellRepo.modellLandscape}}>New Application</button><br>
      <br>
      <button id="bD" {{action 'delete' modellRepo.modellLandscape}}>Delete System</button><br>
      <br>
      <br>
      <br>
      <br>
      <br>
      
      <input id="cPS1" value="newSystemName"><br>
      <input id="cPNG1" value="newNodegroupName"><br>
      <input id="cPN1" value="newNodeName"><br>
      <input id="cPA1" value="newApplicationName"><br>
      <button id="bNAN" {{action 'communicationActivate' modellRepo.modellLandscape}}>Communication ACTIVATE</button><br>
      <input id="cPS2" value="newSystemName"><br>
      <input id="cPNG2" value="newNodegroupName"><br>
      <input id="cPN2" value="newNodeName"><br>
      <input id="cPA2" value="newApplicationName"><br>
      
  	</div>
</div>


<script>
  document.getElementById("nSN").addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode === 13) {
        document.getElementById("bNSN").click();
    }
  });

    document.getElementById("nNgN").addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode === 13) {
        document.getElementById("bNNgN").click();
    }
  });

      document.getElementById("nNN").addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode === 13) {
        document.getElementById("bNNN").click();
    }
  });

  document.getElementById("nAN").addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode === 13) {
        document.getElementById("bNAN").click();
    }
  });
</script>
